---
layout: default
title: Home
---

<p>Welcome!</p>

<p>I am Michael Broschinsky, long-time public servant and teacher.
This is my professional ePortfolio.</p>

<p>This website has three sections:</p>

<ul>
    <li>a <a href="/government/">government section</a>, where I present my work with the <a href="http://www.utah.gov/">State of Utah</a>, primarily in the <a href="http://www.rules.utah.gov/">Division of Administrative Rules</a></li>
    <li>an <a href="/education/">education section</a>, where I present my work as an adjunct instructor at <a href="http://www.slcc.edu/">Salt Lake Community College;
        I teach in the <a href="http://www.slcc.edu/pols/index.aspx">Political Science Program</a> in the <a href="http://www.slcc.edu/schoolofhumanitiesandsocialsciences/index.aspx">School of Humanities and Social Sciences</a></li>
    <li>my <a href="/blog/">blog</a>, where I spend time thinking about both public service and teaching</li>
</ul>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
